<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Dashboard</h1>
    <p>Express application.</p>
    <div id="Dashboard">
        
    </div>
    <script>
        console.log('ГДЕ ЭТО?');
    </script>
</body>

</html>